# --- Environnement Python ---
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.python-version

# --- Build / compilation ---
build/
dist/
*.spec

# --- IDE / éditeurs ---
.vscode/
.idea/
*.swp
*.swo

# --- Système / OneDrive ---
Thumbs.db
Desktop.ini
.DS_Store
~$*

# --- Divers ---
*.log
*.tmp